# ... Healthcare for all!!

Healthcare for all (HFA):
* non-profit organisation
* provides financial help to people who can't afford healthcare
* where get money from? raises funds through donations
* how do they get donations? most efficiently: mailing to potential donors
* for last couple of years: decline of donations through mails
* "lapsed donors" (LDs) of particular interest.
* LDs = donors who made donations 13 to 24 months ago
* need to win them back! The longer not donating, the less likely win them back!
* HFA wishes to develop a model to maximize net revenue (regression or estimation task)
...generated from future renewal mailing to LD's

### Our data:
* **191,700 lapsed donors**
* various kinds of features about the donors, **over 450** (feature selection necessary!)
* **sparsity**, there are a lot of Null values
* training set is **imbalanced** 5000 vs 95,000.
* `TARGET_B`: `1` or `0` marks donors whether they have answered in the past to Email
* `TARGET_D`: Total amount of each responders GIFT

the overall response rate for this direct mail promotion: 5.1%

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('learningSet.csv', low_memory=False)

In [5]:
data.shape

(95412, 481)



# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use `learningSet.csv` file which you already have cloned in today's activities. 

### Instructions

Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns
- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP CODE` - we are including state already
- Identify columns that over 85% missing values
- Remove those columns from the dataframe
- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [5]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()

In [6]:
nulls_percent_df.head(50)

       index         0
0    ODATEDW  0.000000
1    OSOURCE  0.000000
2      TCODE  0.000000
3      STATE  0.000000
4        ZIP  0.000000
5   MAILCODE  0.000000
6   PVASTATE  0.000000
7        DOB  0.000000
8     NOEXCH  0.000000
9   RECINHSE  0.000000
10     RECP3  0.000000
11   RECPGVG  0.000000
12  RECSWEEP  0.000000
13    MDMAUD  0.000000
14    DOMAIN  0.000000
15   CLUSTER  0.000000
16       AGE  0.248030
17   AGEFLAG  0.000000
18  HOMEOWNR  0.000000
19   CHILD03  0.000000
20   CHILD07  0.000000
21   CHILD12  0.000000
22   CHILD18  0.000000
23   NUMCHLD  0.870184
24    INCOME  0.223096
25    GENDER  0.000000
26   WEALTH1  0.468830
27       HIT  0.000000
28   MBCRAFT  0.553955
29  MBGARDEN  0.553955
30   MBBOOKS  0.553955
31  MBCOLECT  0.554584
32   MAGFAML  0.553955
33    MAGFEM  0.553955
34   MAGMALE  0.553955
35  PUBGARDN  0.553955
36  PUBCULIN  0.553955
37   PUBHLTH  0.553955
38  PUBDOITY  0.553955
39  PUBNEWFN  0.553955
40  PUBPHOTO  0.553955
41    PUBOPP  0.553955
42  DATASRCE  0.000000
43  MALEMILI  0.000000
44   MALEVET  0.000000
45  VIETVETS  0.000000
46  WWIIVETS  0.000000
47  LOCALGOV  0.000000
48  STATEGOV  0.000000
49    FEDGOV  0.000000

In [7]:
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df.shape

(481, 2)

In [9]:
nulls_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

In [11]:
# column names with null values above 85%
columns_above_85 = nulls_percent_df[nulls_percent_df['nulls_percentage'] > 0.85]['column_name']

In [12]:
columns_above_85

23      NUMCHLD
412     RDATE_3
413     RDATE_4
414     RDATE_5
415     RDATE_6
416     RDATE_7
419    RDATE_10
422    RDATE_13
424    RDATE_15
426    RDATE_17
429    RDATE_20
430    RDATE_21
432    RDATE_23
434     RAMNT_3
435     RAMNT_4
436     RAMNT_5
437     RAMNT_6
438     RAMNT_7
441    RAMNT_10
444    RAMNT_13
446    RAMNT_15
448    RAMNT_17
451    RAMNT_20
452    RAMNT_21
454    RAMNT_23
Name: column_name, dtype: object

In [13]:
len(columns_above_85)

25

In [14]:
drop_list = list(columns_above_85)

In [15]:

drop_list = drop_list + ["OSOURCE"] + ["ZIP"]

In [23]:
drop_list

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23',
 'OSOURCE',
 'ZIP']

In [24]:
len(drop_list)

27

In [17]:
data = data.drop(columns = ['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23',
 'OSOURCE',
 'ZIP'], axis = 1)

In [18]:
data.shape

(95412, 454)

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

    Note that there are a few null values in the column. We will first replace those null values using the code below:

    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [29]:
data['GENDER'].value_counts()
data['GENDER'] = data['GENDER'].fillna('F')

In [35]:
for item in data['GENDER']:
    if data['GENDER'][item] == "U" :
        data['GENDER'][item] == "OTHER"

KeyError: 'F'

In [32]:
data['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

# ----------------------

# Lab | Feature engineering

    In this lab, you will use learningSet.csv file which you have already cloned in the previous activities.

Instructions

Here we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the lessons.

    Check for null values in the numerical columns.
    Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.
    Use appropriate EDA technique where ever necessary.

In [58]:
numericals["WEALTH1"].isna().sum() #"44732"
numericals["WEALTH1"].value_counts()

numericals["WEALTH1"] = numericals["WEALTH1"].fillna("9.0")
numericals["WEALTH1"].isna().sum() 
#GEOCODE2, WEALTH1, ADI, DMA,and MSA.

0

In [61]:
numericals["MSA"].isna().sum() #132

numericals["MSA"].value_counts()
numericals["MSA"] = numericals["MSA"].fillna("0.0")
numericals["MSA"].isna().sum()

0

In [62]:
numericals["ADI"].isna().sum() #132
numericals["ADI"].value_counts()
numericals["ADI"] = numericals["MSA"].fillna("13.0")
numericals["ADI"].isna().sum()

0

In [63]:
numericals["DMA"].isna().sum() #132
numericals["DMA"].value_counts()
numericals["DMA"] = numericals["MSA"].fillna("803.0")
numericals["DMA"].isna().sum()

0

In [68]:
categoricals["GEOCODE2"].head(50)

0     C
1     A
2     C
3     C
4     A
5     C
6     D
7     C
8     D
9     B
10    D
11    B
12    D
13    B
14    D
15    A
16    A
17    C
18    B
19    C
20    A
21    C
22    C
23    A
24    A
25    B
26    A
27    D
28    A
29    A
30    A
31    A
32    B
33    A
34    B
35    C
36    B
37    A
38    A
39    D
40    B
41    B
42    A
43    A
44    B
45    C
46    C
47    C
48    A
49    C
Name: GEOCODE2, dtype: object